@import "../../styles/const.scss";

.headerWrapper {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 4px 0px rgb(167, 166, 166, 0.2);
  @media (min-width: 800px) {
    padding: 0 2rem;
    background: rgb(22, 19, 66);
    background: linear-gradient(
      90deg,
      rgba(22, 19, 66, 1) 0%,
      rgba(8, 8, 85, 1) 35%,
      rgba(42, 59, 106, 1) 100%
    );

    :global(.container) {
      max-width: 1900px;
    }
  }
  //   border: 1px solid black;
  .header {
    // position: fixed;
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      z-index: 20;

      svg {
        fill: $Text;
        width: 150px;
        transform: translateY(8px);
        :global(#logo-secondary) {
          display: none;
        }
      }
      // animation: logoAnimate 5s ease 1s forwards;
    }
    @media (min-width: 800px) {
      justify-content: space-between;
      .logo a {
        color: white;
        svg {
          fill: white;
          width: 250px;
          :global(#logo-secondary) {
            display: unset;
          }
          transition: transform 0.3s ease;
        }
      }
      .logo a:hover {
        svg {
          transform: translateY(-3px);
          transition: transform 0.3s ease;
        }
      }
    }
    .toggleMenu {
      position: absolute;
      display: flex;
      align-items: center;
      right: 2rem;
      top: calc(50% - 11px);
      cursor: pointer;
      width: 30px;
      height: 23px;
      @media (min-width: 800px) {
        display: none;
      }
    }
    .toggleMenu span,
    .toggleMenu::before,
    .toggleMenu::after {
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-color: $Text;
      transition: all 0.3s ease;
    }
    .toggleMenu::before {
      position: absolute;
      top: 0px;
      content: "";
    }
    .toggleMenu::after {
      position: absolute;
      bottom: 0px;
      content: "";
    }
    .toggleMenu.active span {
      transform: scale(0);
      transition: all 0.3s ease;
    }
    .toggleMenu.active::before {
      transform: rotate(45deg);
      top: 10px;
      transition: all 0.3s ease;
    }
    .toggleMenu.active::after {
      transform: rotate(-45deg);
      transition: all 0.3s ease;
      bottom: 10px;
    }
  }
}
@keyframes logoAnimate {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
