@import "/styles/const.scss";

.card {
  position: relative;
  // max-width: 500px;
  // min-width: 400px;
  // width: 100%;
  height: 300px;
  // max-height: 300px;
  margin: 0 0 1rem 0;
  // width: 100%;

  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 2px 0 5px 0 grey;

    // aspect-ratio: 2/3;
  }
  .face.face1 {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    // background-image: url("/assets/projects/tracker-01.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    transition: 0.5s;
    transform-origin: bottom;
    transform: translateY(0) rotateX(0);
    h1 {
      color: white;
      background-color: $MainColor;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
    }
  }

  .face.face2 {
    z-index: 1;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    transform-origin: top;
    transform: translateY(100%) rotateX(90deg);
    transition: 0.5s;
    a {
      color: white;
      background: $MainColor;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      transition: 0.3s;
      &:hover {
        transform: translateY(-3px);
      }
    }
  }
  &:hover .face.face2 {
    transform: translateY(0) rotateX(0deg);
  }
  &:hover .face.face1 {
    transform: translateY(-100%) rotateX(90deg);
    // background: #ff0057;
  }
  @media (hover: hover) {
    .face.face1 {
      .info {
        display: none;
      }
    }
  }
  @media (hover: none) {
    .face.face1 {
      background-color: rgba(0, 0, 0, 0.7);
      // background: linear-gradient(
      //   to bottom,
      //   rgba(0, 0, 0, 0.5) 0%,
      //   rgba(0, 0, 0, 1) 100%
      // );
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        background: transparent;
      }
      .info {
        display: unset;
        text-align: center;
        p {
          color: white;
        }

        a {
          color: white;
          background: $MainColor;
          padding: 0.5rem 1rem;
          border-radius: 0.5rem;
          transition: 0.3s;
          &:hover {
            transform: translateY(-3px);
          }
        }
      }
    }
  }
}
