@import "./const.scss";

.wrapper {
  background: white;
}

.test {
  background: yellow;
  display: block;
  overflow: auto;
  // padding: 1px 1px;
  border-radius: 1px;
  // border: 1px solid transparent;
}
