@import "./const.scss";

.wrapper {
  background: white;
}
.hero {
  background-color: $Bg-secondary;
  margin: 0;
  // padding: 10px 0;
  overflow: auto;
  // border: 1px solid red;
  h1 {
    // padding-top: 0;
    // margin-top: 0;
    // background: peru;
    // display: inline-block;
  }
}
.test {
  background: yellow;
  display: block;
  overflow: auto;
  // padding: 1px 1px;
  border-radius: 1px;
  // border: 1px solid transparent;
}
